.content-area{ border: 1px solid #007eb4; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; color: #35b767 }
.content-area > h3 { background-color: #007eb4; margin-top: 0px; padding: 10px; color: white; -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; }
.clave{ display: inline-block; padding: 10px; margin-right: 15px;  }
.action{ margin-top: 10px;}
.action > button:first-child{ margin-right: 20px; }
.action > button { background-color: #35b767; color: white };
.lbl-btn{ text-align: center !important;  }
.btn-gray{ background-color: grey; color: white; }
.gray-letter{ color: grey}
.lista-articulos{background-color: #EFFBF5; color: grey}
.custom{ color: blue; }
.subtotales{ color:black; }
.head{ background-color: #a6b5ff; color:#4859b0 }
.body-abonos{ background-color:#EFFBF5; color: black;  }