<div class="content-area">
    <h3>Registro de Ventas</h3>
    <form class="form-horizontal">
      <div class="clearfix">
          <p class="clave pull-right ">Folio:  {{ idShow }}</p>
      </div>
      <div class="form-group"style="padding-left:20px;">
        <label for="name" class="col-sm-2 btn btn-primary lbl-btn">Cliente:</label>
        <div class="col-sm-4">
          <input auto-complete placeholder="Buscar Cliente..." [open-on-focus]="false" [(ngModel)]="client" (valueChanged)="selectClient()"  [min-chars]=3 class="form-control"  name="param" [source]="name_list" />            
        </div>
        <div class="col-sm-3">
            <label for="rfc" class="col-sm-2 control-label gray-letter">RFC:{{rfc}}</label>            
        </div>
      </div>
      <th class="th"></th>
      <div class="form-group"style="padding-left:20px;">
          <label for="name" class="col-sm-2 btn btn-primary lbl-btn">Articulo:</label>
          <div class="col-sm-4">
            <input ngui-auto-complete placeholder="Buscar Articulo..." [open-on-focus]="false" [(ngModel)]="item"  [min-chars]=3 class="form-control"  name="item" [source]="item_list" />            
          </div>
          <div class="col-sm-2">
            <button (click)="addItem()" class="btn btn-add btn-small btn-gray"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
          </div>
        </div>
    </form>
    <div class="container-fluid">
        <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr class="lista-articulos">
                    <th>Descripcion</th>
                    <th>Modelo</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Importe</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="custom">
              <tr *ngFor="let item of item_list_selected; let i = index;">
                <td>{{item.value}}</td>
                <td>{{item.model}}</td>
                <td>
                  <input type="number" [(ngModel)]="item.cantidad" (change)="calcularImporte(i)" class="form-control" max="{{item.existence}}" style="width:30%">
                </td>
                <td>
                  {{item.price}}
                </td>
                <td>{{item.importe}}</td>
                <td>
                  <button (click)="delete(i)" type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-5 col-md-offset-6">
              <div class="form-group clearfix">
                <label for="first_lastname" class="col-sm-3 btn btn-gray subtotales">Enganche:</label>
                <div class="col-sm-9">
                  <input type="number" disabled [(ngModel)]="enganche" name="enganche" class="form-control">
                </div>
              </div>
              <div class="form-group clearfix">
                  <label for="first_lastname" class="col-sm-6 btn btn-gray subtotales">Bonificacion de Enganche:</label>
                  <div class="col-sm-6">
                    <input type="number" disabled [(ngModel)]="bono_enganche" name="bono_enganche" class="form-control">
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label for="first_lastname" class="col-sm-3 btn btn-gray subtotales">Total:</label>
                  <div class="col-sm-9">
                    <input type="number" disabled [(ngModel)]="total_adeudo" name="total" class="form-control">
                  </div>
                </div>
          </div>
          <table *ngIf="show" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr class="head">
                <th colspan="5"><p style="text-align:center" >ABONOS MENSUALES</p></th>
              </tr>
            </thead>
            <tbody class="body-abonos">
              <tr *ngFor="let item of planes_de_pagos; let i=index;">
                <td>{{plazos[i]}} Abonos De  </td>
                <td>$ {{item.abono}}</td>
                <td>TOTAL A PAGAR $ {{ item.pagar }}</td>
                <td>SE AHORRA $  {{item.ahorra}}</td>
                <td><input type="radio" name="plazos" (click)="select(i)"></td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
  <div class="action pull-right">
      <button class="btn" (click)="cancel()" >Cancelar</button>
      <button class="btn form-btn" *ngIf="!show" (click)="next()" [disabled]="isValid" >Siguiente</button>
      <button class="btn form-btn" *ngIf="show" (click)="Guardar()" [disabled]="isValid" >Guardar</button>
  </div>
  