<div class="container-fluid wrapper-navbar">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-tripper text-center">
          <li class="dropdown">
            <a style="color:white" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >Inicio <span class="caret"></span></a>
            <ul class="dropdown-menu widthDrop" >
              <li [routerLinkActive]="['active']" ><a routerLink="/ventas">Ventas</a></li>
              <li role="separator" class="divider"></li>
              <li [routerLinkActive]="['active']" ><a routerLink="/clientes">Clientes</a></li>
              <li [routerLinkActive]="['active']"><a routerLink="/articulos">Articulos</a></li>
              <li [routerLinkActive]="['active']"><a routerLink="/configuracion">Configuración</a></li>
            </ul>
          </li>
          <li class="date"><a>Fecha:  {{newDate}}</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="container-fluid">
  <div class="col-md-9 col-md-offset-2">
    <router-outlet></router-outlet>
  </div>
</div>