<div class="content-area">
  <h3>Registro de Clientes</h3>
  <form class="form-horizontal">
    <div class="clearfix">
        <p class="clave pull-right ">Clave:  {{ idClient }}</p>
    </div>
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Nombre:</label>
      <div class="col-sm-6">
        <input type="text" [(ngModel)]="name" name="name" (change)="isValidForm()" required class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="first_lastname" class="col-sm-2 control-label">Apellido Paterno:</label>
      <div class="col-sm-6">
        <input type="text" [(ngModel)]="first_lastname" name="first_lastname" (change)="isValidForm()" required class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="second_lastname" class="col-sm-2 control-label">Apellido Materno:</label>
      <div class="col-sm-6">
        <input type="text" [(ngModel)]="second_lastname" name="second_lastname" (change)="isValidForm()"  class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="rfc" class="col-sm-2 control-label">RFC:</label>
      <div class="col-sm-4">
        <input type="text" [(ngModel)]="rfc" name="rfc"  (keyup)="isValidForm()" required class="form-control">
      </div>
    </div>
  </form>
</div>
<div class="action pull-right">
    <button class="btn" (click)="cancel()" >Cancelar</button>
    <button class="btn form-btn" (click)="saveClient()" [disabled]="isValid" >Guardar</button>
</div>
