<div class="content-area">
    <h3>Configuracion General</h3>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Tasa de Financiamiento:</label>
        <div class="col-sm-2">
          <input type="number" [(ngModel)]="tasa" name="tasa" (keyup)="isValidForm()" required class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="first_lastname" class="col-sm-3 control-label">% Enganche:</label>
        <div class="col-sm-2">
          <input type="number" [(ngModel)]="enganche" name="enganche" (keyup)="isValidForm()" required class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="second_lastname" class="col-sm-3 control-label">Plazo Máximo:</label>
        <div class="col-sm-2">
          <input type="number" [(ngModel)]="plazo" name="plazo" (keyup)="isValidForm()"  class="form-control">
        </div>
      </div>
    </form>
  </div>
  <div class="action pull-right">
      <button class="btn" (click)="cancel()" >Cancelar</button>
      <button class="btn form-btn" (click)="saveData()" [disabled]="isValid" >Guardar</button>
  </div>
  