<div class="content-header">
    <h2>Ventas Registradas</h2>
    <button routerLink="/ventas/nueva-venta" class="header-button btn btn-primary"><span class="glyphicon glyphicon-plus icon-area" aria-hidden="true"></span>Nueva Venta</button>
</div>
<table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
      <tr class="head">
          <th>Folio Venta</th>
          <th>Clave Cliente</th>
          <th>Nombre</th>
          <th>Total</th>
          <th>Fecha</th>
          <th>Estatus</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of data; let i = index;">
          <td>{{item.id}}</td>
          <td>{{item.id_cliente}}</td>
          <td>{{item.nombre}}</td>
          <td>{{item.total}}</td>
          <td>{{item.fecha.toString().split('T')[0]}}</td>
          <td [ngSwitch]="item.estatus">
          <label for="tipoUsuario" *ngSwitchCase="1">Activo</label>
          <label for="tipoUsuario" *ngSwitchCase="2">Cancelada</label>
          </td>
      </tr>
  </tbody>
</table>