<div class="content-area">
    <h3>Registro de Articulos</h3>
    <form class="form-horizontal">
      <div class="clearfix">
          <p class="clave pull-right ">Clave:  {{ itemid }}</p>
      </div>
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Descripcion:</label>
        <div class="col-sm-6">
          <input type="text" [(ngModel)]="description" name="description" (change)="isValidForm()" required class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="first_lastname" class="col-sm-2 control-label">Modelo:</label>
        <div class="col-sm-6">
          <input type="text" [(ngModel)]="model" name="model" (change)="isValidForm()" required class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="second_lastname" class="col-sm-2 control-label">Precio:</label>
        <div class="col-sm-4">
          <input type="number" step=".1" [(ngModel)]="price" name="price" (change)="isValidForm()"  class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="rfc" class="col-sm-2 control-label">Existencia:</label>
        <div class="col-sm-2">
          <input type="number" [(ngModel)]="existence" name="existence"  (keyup)="isValidForm()" required class="form-control">
        </div>
      </div>
    </form>
  </div>
  <div class="action pull-right">
      <button class="btn" (click)="cancel()" >Cancelar</button>
      <button class="btn form-btn" (click)="saveItem()" [disabled]="isValid" >Guardar</button>
  </div>
  