/* You can add global styles to this file, and also import other style files */
.date{ position: absolute !important; right: 10%; color: white !important; };
.date > a { color:white !important;}
.content-header { padding: 5px }
.content-header > h2, button{ display: inline-block;  };

