.header-button { position: absolute; right: 10%; padding: 10px;}
.icon-area{background-color: #00FF00; padding: 5px; -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px; }
.head{ background-color: #a6b5ff; color:#4859b0 }