
<div class="content-header">
  <h2>Clientes Registrados</h2>
  <button routerLink="/clientes/nuevo-cliente" class="header-button btn btn-primary"><span class="glyphicon glyphicon-plus icon-area" aria-hidden="true"></span>Nuevo cliente</button>
</div>
<table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
      <tr class="head">
          <th>Clave Cliente</th>
          <th>Nombre</th>
          <th></th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of data; let i = index;">
          <td>{{item.id}}</td>
          <td>{{item.nombre }} {{item.first_lastname}} {{item.second_lastname}}</td>
          <td>
            <button [routerLink]="['editar',item.id]" type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button>
          </td>
      </tr>
  </tbody>
</table>
