<div class="content-header">
    <h2>Articulos Registrados</h2>
    <button routerLink="/articulos/nuevo-articulo" class="header-button btn btn-primary"><span class="glyphicon glyphicon-plus icon-area" aria-hidden="true"></span>Nuevo Articulo</button>
  </div>
  <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr class="head">
            <th>Clave Articulo</th>
            <th>Descripcion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data; let i = index;">
            <td>{{item.id}}</td>
            <td>{{item.description }}</td>
            <td>
              <button [routerLink]="['editar',item.id]" type="button" class="btn btn-default" aria-label="Left Align">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button>
            </td>
        </tr>
    </tbody>
  </table>